#clients
{
	padding: 80px;

	.title
	{
		display: inline-block;
		color: $c-blue;
		font-size: 3.3em;
		margin-bottom: 100px;
		text-transform: uppercase;
		line-height: 0.9em;
		font-weight: 800;
	}
}