#contact
{
	.map iframe
	{
		pointer-events: none;
		cursor: pointer;
	}

	.container
	{
		padding: 80px 0;
	}

	.title
	{
		display: inline-block;
		background-image: url('../img/contact_title.png');
		width: 307px;
		height: 93px;
		font-size: 0;
		margin-bottom: 100px;
	}
}