/* Mixins */
@mixin transform ($value)
{
	-webkit-transform: $value;
	-moz-transform: r$value;
	-o-transform: $value;
	transform: $value;
}
@mixin transition ($value)
{
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}

/* Classes padrões */
.container
{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}